$textColor: #39414B;
//$primaryColor: #ffb400;
//$bgColor: #111;
//$bgSecondColor:#252527;
$textFontFamily: '';
$fontSize: 18px;
$fontWeight: 800;
$lineHeight:18px;
//$descriptionFontFamily: 'Open Sans', sans-serif;
//$headerBgColor:#111;
//$headerFontFamily:'Raleway', sans-serif;
//$footerTitleFontFamily:'Roboto Condensed', sans-serif;
